<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
      <div class="row">
        <div class="col-sm-12">
            <p class="bg-danger">There was an error with verification. <br>You are unable to join chat.</p>
            <p><a href="<%= base_url %>">Create Chatroom now!</p>
        </div>
      </div>

    <% include partials/foot %>
  </body>
</html>