<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
  	<% include partials/navbar %>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-6 col-sm-12">
  				<h1>Create Chat Room</h1>
          <p class="<%= cla %>"><%= message %></p>
          <% if (status === 'success') { %>
            <p>The following URLs are assigned to each of the members</p>
          <% } %>
            <ul>
              <% members.forEach(function(member) { %>
                  <li> <%= member %> - <code><%= urls[member] %></code></li>
              <% }); %>
            </ul>
  			</div>
  		</div>
  		
  	</div>
    <% include partials/foot %>
  </body>
</html>